<ion-view sb-page-background
          class="xdelivery xdelivery-store">
     <ion-nav-title>{{payout.store.store_name}}</ion-nav-title>
 
    <ion-content class="has-header">
 
      <div class="loader" ng-show="is_loading">
         <ion-spinner class="spinner-custom"></ion-spinner>
      </div> 

      <div class="list xdelivery-store-list">

        <div class="item item-avatar" ng-if="!is_loading">
          <img ng-src="{{ storeImage(payout.store.image) }}">
          <h2 class="store-name">{{payout.store.store_name}}</h2>
          <p class="store_sub_title" ng-if="store.store_sub_title != ''"> {{payout.store.store_sub_title}}</p>
          <p><i class="icon ion-location"></i> {{payout.store.store_address}}</p>
        </div>
   
      </div>

      <div class="list" ng-if="!is_loading">
            <ng-include ng-if="settings.category_design == 'grid' && !is_loading" src="'./features/xdelivery/assets/templates/l1/include/category_grid.html'"></ng-include>

            <ng-include ng-if="settings.category_design == 'list' && !is_loading"  src="'./features/xdelivery/assets/templates/l1/include/category_list.html'"></ng-include>
      </div>

    </ion-content>

    <style type="text/css">
      .store_sub_title {
        white-space: none;
      }

    </style>

  </ion-view>