<ion-modal-view sb-page-background
                ng-controller="CommunitySearchModalController"
                class="community-view">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="close()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{ ::"Search"| translate:"community" }}</h1>

    </ion-header-bar>

    <ion-content>


        <div class = "item item-input-inset search-bar">
            <label class = "item-input-wrapper no-padding">
                <i class="icon-search invert"></i>     
                <input class="add-input" type = "text" placeholder = '{{ ::"Search Profile"| translate:"community" }}' ng-model="search.text" />
            </label>
            <button class = "button btn-add" ng-click="search()">
                <i ng-if="!label_settings.lang_search">{{ ::"Search"| translate:"community" }}</i>
                <i ng-if="label_settings.lang_search">{{label_settings.lang_search}}</i>
            </button>
        </div>
        
        <div class="card-loader" ng-show="isLoading">
            <lottie-player  src="./features/community/assets/templates/images/lottie/card-loader.json"  background="transparent"  speed="1"  style="width: 100%; height: auto;"  loop autoplay></lottie-player>
        </div>
        
        <div class="list no-data text-center" ng-if="!isLoading && search.text && !collection.length">
               <lottie-player class="no-data-svg" src="./features/community/assets/templates/images/lottie/no-data.json"  background="transparent"  speed="1"  loop autoplay></lottie-player>
              <span> {{ "No items found" | translate }}</span>
        </div>
        
        <ion-list ng-if="!isLoading && collection.length > 0" class="list fav-list">
            <community-list-item ng-repeat="user in collection track by user.id"></community-list-item>

        </ion-list>



    </ion-content>

</ion-modal-view>





