<ion-view class="community-view commu-signup">
    <ion-nav-title>
        <div ng-bind-html="page_title | trusted_html"></div>
    </ion-nav-title>

    <ion-content>

        <div class="card my-profile-card sign-up">
            <div class="row no-padding">
                <div class="my-pic-box" ng-click="editProfilePicture()">
                    <!--<div class="my-img"></div>-->
                    <img ng-src="{{ user.image }}" src='./features/community/assets/templates/images/customer-placeholder.svg' />
                    <div class="btn-upload">
                    <i class="icon ion-camera"></i>
                </div>
                </div>
            </div>
            <div class = "list">
                <label class = "item item-input item-select" ng-if="myAccount.settings.extra_civility_required">
                    <span class="input-label">{{ ::'Civility' | translate:'customer' }}</span>
                    <select ng-model="user.civility">
                        <option value="">{{ ::'Select' | translate:'customer' }}</option>
                        <option value="mr">{{ ::'Mr' | translate:'customer' }}</option>
                        <option value="ms">{{ ::'Ms' | translate:'customer' }}</option>
                    </select>
                    
                </label>
                
                <label class = "item item-input item-floating-label">
                    <span class="for-place-holder input-label">{{ ::"First name"| translate:"community" }}</span>
                    <input type = "text" placeholder = '{{ ::"First name"| translate:"community" }}' ng-model="user.firstname" />
                </label>

                <label class = "item item-input item-floating-label">
                    <span class="for-place-holder input-label">{{ ::"Last Name"| translate:"community" }}</span>
                    <input type = "text" placeholder = '{{ ::"Last Name"| translate:"community" }}' ng-model="user.lastname" />
                </label>
                <label class = "item item-input item-floating-label">
                    <span class="for-place-holder input-label">{{ ::"Email"| translate:"community" }}</span>
                    <input type = "email" placeholder = '{{ ::"Email"| translate:"community" }}' ng-model="user.email" />
                </label>
                
                
                <label ng-if="myAccount.settings.extra_birthdate_required"
                    class="item item-input item-floating-label"
                    sb-datetime-picker
                    headers="true"
                    format="'DD/MM/YYYY'"
                    title="i18n.localBirthdateTitle"
                    model="user.birthdate">
                 <div class="input-label">
                     {{ ::'Birthdate' | translate:'customer' }}
                 </div>
                 <input type="text"
                        class="text-right"
                        style="cursor: pointer !important;"
                        ng-model="user.birthdate"
                        readonly="readonly" />
             </label>
                <label class = "item item-input item-floating-label" ng-if="myAccount.settings.extra_nickname_required">
                    <span class="for-place-holder input-label"> {{ ::'Nickname' | translate:'customer' }}</span>
                    <input type = "text" placeholder = "{{ ::'Nickname' | translate:'customer' }}" ng-model="user.nickname" />
                </label>
                <label class = "item item-input item-floating-label" ng-if="myAccount.settings.extra_mobile_required">
                    <span class="for-place-holder input-label">{{ ::'Mobile' | translate:'customer' }}</span>
                    <input type = "text" placeholder = "{{ ::'Mobile' | translate:'customer' }}" ng-model="user.mobile" />
                </label>
                
                <label class = "item item-input item-floating-label">
                    <span class="for-place-holder input-label">{{ ::"Password"| translate:"community" }}</span>
                    <input type = "Password" placeholder = '{{ ::"Password"| translate:"community" }}' ng-model="user.password" minlength="6" />
                </label>
                <label class = "item item-input item-floating-label">
                    <span class="for-place-holder input-label">{{ ::"Repeat Password"| translate:"community" }}</span>
                    <input type = "Password" placeholder = '{{ ::"Repeat Password"| translate:"community" }}' ng-model="user.repeat_password" minlength="6" />
                </label>
                

                  <div class = "item no-brd no-bg">
                <!--<div class = "item item-checkbox">
                    <i ng-if="!label_settings.lang_policy_terms">{{ ::"Policy & terms"| translate:"community" }}</i>
                    <i ng-if="label_settings.lang_policy_terms">{{label_settings.lang_policy_terms}}</i>
                    <label class = "checkbox">
                        <input type = "checkbox" ng-model="user.privacy_policy" />
                    </label>
                </div>-->
                <sb-clickwrap field="privacyPolicyField"
                          model="user.privacy_policy"
                          card-design="card_design"></sb-clickwrap>
              </div>
                <button class="button button-full" ng-click="proceed()">
                    <i ng-if="!label_settings.lang_join_now">{{ ::"Join now"| translate:"community" }}</i>
                    <i ng-if="label_settings.lang_join_now">{{label_settings.lang_join_now}}</i>
                </button>
            </div>
        </div>


    </ion-content>

</ion-view>



